/*Custom css for /login*/
/*  Authentication Box (Login/Register Container) */
.auth-box {
  width: 450px;
  padding: 40px;
  background-color: #1f1f1f;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Navigation Tabs (Login/Register) */
.auth-tabs .nav-link {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  transition: color 0.3s ease-in-out;
}

.auth-tabs .nav-link.active {
  color: #e75e8d;
  border-bottom: 2px solid #e75e8d;
}

/* Input Fields */
.auth-input {
  padding: 12px;
  font-size: 16px;
  background: #333;
  border: 1px solid #555;
  color: white;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
}

/*Submit Buttons */
.auth-button {
  padding: 14px;
  font-size: 18px;
  background: #e75e8d;
  border: none;
  color: white;
  border-radius: 8px;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.auth-button:hover {
  background: #ec6090;
}

/*Forgot Password Link */
.forgot-password {
  color: #ec6090;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

/*
  Custom css for /post
  
  */
.file-input-small {
  width: 50%;
}

.checkbox-select {
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: white;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 20px;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.star-rating input[type="radio"]:checked~label {
  color: #f2b600;
}

.star-rating label:hover,
.star-rating label:hover~label {
  color: #f2b600;
}

.delete-button a {
  font-size: 14px;
  color: #fff;
  background-color: #fb0000;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.delete-button a:hover {
  background-color: #fff;
  color: #ff0000;
}


/* White background for the editor */
#editor-container {
  background-color: white;
  /* White background */
  color: black;
  /* Black text */
  min-height: 200px;
  /* Minimum height for the editor */
  border: 1px solid #ccc;
  /* Border for better visibility */
  padding: 10px;
  /* Internal padding */
}

/* White background for the toolbar */
.ql-toolbar {
  background-color: white;
  /* White background */
  border: 1px solid #ccc;
  /* Border for better visibility */
}

/* Black color for toolbar icons and buttons */
.ql-toolbar button {
  color: black;
}

/* Black color for selected text in the editor */
.ql-editor {
  color: black;
  /* Black text */
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  color: black; 
}