{{>Common/header}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div class="col-lg-8">
            <div class="featured-games header-text">
              <div class="heading-section">
                <h4><em>Descubra nuevas</em> categorías</h4>
              </div>
              <!-- Carousel with sections that the user follows -->
              {{>Common/sectionCarrousel}}
            </div>
          </div>

          <!-- Top 5 users -->
          <div class="col-lg-4 ">
            <div class="top-users">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Top 5</em> Usuarios</h4>
                </div>
                <ol>
                  {{#topUsers}}
                  <li style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                    <div style="display: flex; align-items: center;">
                      <div class="avatar-05" style="margin-right: 10px;">
                        <img src="/user/{{id}}/image" alt="" style="width: 46px; height: 46px; border-radius: 50%;">
                      </div>
                      <a href="/profile/{{id}}"
                        style="font-weight: bold; text-decoration: none; color: white;">{{userName}}</a>
                    </div>
                    <h6 style="margin: 0; color: #f1c40f; font-weight: normal;">
                      <i class="fa fa-star"></i> {{userRate}}
                    </h6>
                  </li>
                  {{/topUsers}}
                </ol>
              </div>
            </div>
          </div>
        </div>


        <!-- TOP PUBLICACIONES -->
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Top 10</em> publicaciones</h4>
            </div>
          </div>
          <div class="row">
            {{#topPosts}}
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <div class="thumb">
                  <img class="centered-image" src="/post/{{id}}/image" alt="">
                </div>
                <div class="down-content">
                  <ul>
                    <li>
                      <h6> <a href="/post/{{id}}">{{title}}</a></h6>
                    </li>
                  </ul>
                  <span><i class="fa fa-star" style="color: yellow;"></i> {{averageRating}}</span>
                </div>
              </div>
            </div>
            {{/topPosts}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{>Common/footer}}