{{>header}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Games Start ***** -->
        <div class="row">
          <div class="col-lg-8">
            <div class="featured-games header-text">
              <div class="heading-section">
                <h4><em>Todas las</em> categorías</h4>
              </div>
              <div class="owl-features owl-carousel">
                {{#Sections}}
                <div class="item">
                  <div class="thumb">
                    <img src="{{sectionImage}}" alt="">
                    <div class="hover-effect">
                      <h6>{{description}}</h6>
                    </div>
                  </div>
                  <h4>{{title}}<br><span>Publicaciones: </span></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> {{averageRating}}</li>
                    <li><i class="fa fa-eye"></i> {{numberOfPublications}}</li>
                  </ul>
                </div>
                {{/Sections}}
              </div>
            </div>
          </div>
        
          <!-- Top 10 users -->
          <div class="col-lg-4">
            <div class="top-users">
              <div class="heading-section">
                <h4><em>Top 10</em> Usuarios</h4>
              </div>
              <ul>
                {{#topUsers}}
                <li>
                  <span>{{@index + 1}}</span> <!-- Index based on users list position -->
                  <img src="{{userImage}}" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                  <span> {{userName}} - {{rate}}</span>
                  <div class="main-button">
                    <a href="/view_profile/{{userName}}">Ver perfil</a>
                  </div>
                </li>
                {{/topUsers}}
              </ul>
            </div>
          </div>
        </div>


        <!-- TOP PUBLICACIONES -->
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Top 10</em> publicaciones</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-sm-6">
              {{#topPosts}}
              <div class="item">
                <div class="thumb">
                  <img src="{{postImage}}" alt="">
                  <div class="hover-effect">
                    <div class="content">
                      <div class="live">
                        <a href="/view_profile/{{userName}}"> Ver perfil</a>
                      </div>
                      <ul>
                        <li><a></a><i class=""></i> {{averageRating}}</a></li> <!-- En "class" añadir boton de like-->
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="down-content">
                  <div class="avatar">
                    <img src="assets/images/avatar-01.jpg" alt=""
                      style="max-width: 46px; border-radius: 50%; float: left;">
                  </div>
                  <span><i class="fa fa-check"></i> {{owner.userName}}</span> <!-- comprobar que la sintaxis es asi-->
                  <h4> {{title}}</h4>
                </div>
              </div>
              {{/topPosts}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>footer}}