{{>Common/header}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <div class="container" style="color: white;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-content header-text">
                                <h2>Personaliza tu perfil</h2>
                                {{#User}}
                                <!-- Form to create a new post-->
                                <form action="/editProfile/{{id}}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="userName">Nombre:</label>
                                        <input type="text" class="form-control" id="newUserName" name="newUserName"
                                            value="{{userName}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Contraseña:</label>
                                        <input type="text" class="form-control" id="contraseña" name="password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descripción:</label>
                                        {{#description}}
                                        <textarea class="form-control" id="description" name="description"
                                            rows="10">{{description}}</textarea>
                                        {{/description}}
                                        {{^description}}
                                        <textarea class="form-control" id="description" name="description"
                                            rows="10"></textarea>
                                        {{/description}}
                                    </div>
                                    <div class="form-group mx-auto" class="d-flex justify-content-center">
                                        <label for="userImage">Foto de perfil:</label>
                                        <input type="file" class="form-control file-input-small" id="userImage"
                                            name="userImage">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Confirmar</button>
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{token}}" />
                                </form>
                                {{/User}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>Common/footer}}