{{>Common/header}}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Games Start ***** -->
        <div class="row">
          <div class="col-lg-8">
            <div class="featured-games header-text">
              <div class="heading-section">
                <h4><em>Categorías que </em> sigue</h4>
              </div>
              <!-- Carousel with sections that the user follows -->
              <div class="owl-features owl-carousel">
                {{#sections}}
                <div class="item">
                  <div class="thumb">
                    <img src="/assets/images/" alt="">
                    <div class="hover-effect">
                      <h6>{{description}}</h6>
                    </div>
                  </div>
                  <h4><a href="/section/{{id}}">{{title}}</a><br><span>Publicaciones: </span></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> {{averageRating}}</li>
                    <li><i class="fa fa-eye"></i> {{numberOfPublications}}</li>
                  </ul>
                </div>
                {{/sections}}
              </div>
            </div>
          </div>
          <!-- Top 5 users -->
          <div class="col-lg-4 ">
            <div class="top-users">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Top 5</em> Usuarios</h4>
                </div>
                {{#topUsers}}

                <ol>
                  <li>
                    <br>
                    <h2> {{-index}}º</h2>
                  </li>
                  <li>
                    <div class="avatar-05">
                      <img src="assets/images/avatar-01.jpg" alt=""
                        style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>

                    <a href="/profile/{{userName}}">{{userName}}</a> 
                    <h6><i class="fa fa-star" style="color: yellow;"></i> {{userRate}}</h6>

                  </li>
                  {{/topUsers}}
                </ol>


              </div>
            </div>
          </div>
        </div>
        <!-- TOP PUBLICACIONES -->
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Top 10</em> publicaciones</h4>
            </div>
          </div>
              <div class="row">
                {{#topPosts}}
                <div class="col-lg-3 col-sm-6">
                  <div class="item">
                    <div class="thumb">
                      <img src="/assets/images/clip-01.jpg" alt="" style="border-radius: 23px;">
                    </div>
                    <div class="down-content">
                      <ul>
                        <li>
                          <h6> <a href="/post/{{id}}">{{title}}</a></h6>
                        </li>
                      </ul>
                      <span><i class="fa fa-star" style="color: yellow;"></i> {{averageRating}}</span>
                    </div>
                  </div>
                </div>
                {{/topPosts}}
              </div>
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</div>
{{>Common/footer}}