{{>Common/header}}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Bienvenido a HackersAnónimos.com <em>{{user.userName}}</em></h6>
                <h4><em>Empieza</em> a formar parte de la <em>comunidad</em></h4>
                <div class="main-button">
                  <!-- Temporary Comment, If loged -> go to profile, if not logged ->  go to /login-->
                  <a href="/post/new">¡Publica ahora!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="start-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Como empezar a subir</em> tus propias publicaciones </h4>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="item">
                  <div class="icon">
                    <img src="/assets/images/service-01.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                  </div>
                  <h4>Ve a tu Perfil</h4>
                  <p>Puedes realizar publicaciones pulsando el botón "Nueva publicación" que se encuentra en su perfil,
                    o puede sdirigirte a la sección "Publicar" del menú principal</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item">
                  <div class="icon">
                    <img src="/assets/images/service-02.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                  </div>
                  <h4>Escribe sobre ciberseguridad</h4>
                  <p>Comparte tus conocimientos, análisis y noticias sobre ciberseguridad. Explica vulnerabilidades,
                    buenas prácticas o alertas de seguridad para ayudar a la comunidad.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item">
                  <div class="icon">
                    <img src="/assets/images/service-03.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                  </div>
                  <h4>Comparte y aprende</h4>
                  <p>Difunde tu publicación con la comunidad y recibe retroalimentación. Interactúa con otros expertos
                    en ciberseguridad, comparte buenas prácticas y mantente al día con las últimas tendencias del
                    sector.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  {{#session}}
                  <a href="/profile/{{user.id}}">Ir a tu perfil</a>
                  {{/session}}
                  {{^session}}
                  <a href="/login">Iniciar sesión</a>
                  {{/session}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>Common/footer}}