{{>Common/header}}

<!-- Include Quill.js styles and scripts -->
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<link href="/assets/css/cssCustom.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>



{{>Common/top_container}}

{{#isEditing}}
<h2>Edit post</h2>
<!-- Form to edit an existing post -->
<form action="https://localhost:8443/post/{{post.id}}/edit" method="post" enctype="multipart/form-data">
  {{/isEditing}}
  {{^isEditing}}
  <h2>Create post</h2>
  <!-- Form to create a new post -->
  <form action="https://localhost:8443/post/new" method="post" enctype="multipart/form-data">
    {{/isEditing}}

    <!-- Title input -->
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" value="{{#isEditing}}{{title}}{{/isEditing}}"
        required />
    </div>

    <!-- Content input with Quill.js -->
    <div class="form-group">
      <label for="content">Content:</label>
      <!-- Div for the rich text editor -->
      <div id="editor-container">{{#isEditing}}{{{content}}}{{/isEditing}}</div>
      <!-- Hidden input to send the HTML content to the server -->
      <input type="hidden" id="content" name="content">
    </div>

    <!-- Contributors input -->
    <div class="form-group">
      <label for="contributors">Contributors:</label>
      <br />
      <em>Note: Enter the usernames of contributors separated by commas</em>
      <input type="text" class="form-control" id="newContributors" name="newContributors"
        value="{{#isEditing}}{{contributors}}{{/isEditing}}" />
    </div>

    <!-- Image upload input -->
    <div class="form-group">
      <label for="postImage">Cover image:</label>
      <input type="file" id="newImage" name="newImage" />
    </div>

    <!-- Categories selection -->
    <p class="checkbox-select">Select categories</p>
    <div class="form-group">
      <div class="options-container" id="optionsContainer">
        {{#sections}}
        <div class="option">
          <label><input type="checkbox" value="{{id}}" name="sections" {{#selected}} checked
              {{/selected}} />{{title}}</label>
        </div>
        {{/sections}}
      </div>
    </div>

    <!-- Submit button -->
    <br>
    <button type="submit" class="btn btn-primary">
      Publish
    </button>

  </form>
  {{>Common/bottom_container}}

  <script>

    // Initialize Quill.js
    var quill = new Quill('#editor-container', {
      theme: 'snow'
    });

    // If editing, load the existing content into the editor
    var existingContent = document.querySelector('#editor-container').innerHTML;
    quill.clipboard.dangerouslyPasteHTML(existingContent);

    // On form submission, copy the editor's content to the hidden input
    document.querySelector('form').onsubmit = function () {
      document.querySelector('#content').value = quill.root.innerHTML;
    };
  </script>

  {{>Common/footer}}