{{> Common/header }}
{{> Common/top_container }}
<div class="most-popular">
	
	<div class="row">
		<div class="col-lg-12">
			<div class="heading-section">
				<h4><em>Todos los</em> Posts</h4>
			</div>
			{{#posts}}
			<div class="col-lg-12">
				<div class="item">
					<h4>
						<a href="/post/{{id}}">{{title}}</a>
						<br>
						<span>Publicado por: <a href="/profile/{{owner.id}}">{{owner.userName}}</a></span>
					</h4>
					<span>Colaboradores:
						{{#contributors}}
						<a href="/profile/{{id}}">{{userName}}</a>
						{{/contributors}}
					</span>
					<span>Secciones:
						{{#sections}}
						<a href="/section/{{id}}">{{title}}</a>
						{{/sections}}
					</span>
					<ul>
						<li><i class="fa fa-star"></i> {{averageRating}}</li>
					</ul>
				</div>
			</div>
			{{/posts}}

			{{^posts}}
			<p>No hay posts. Anímate y sé el primero :)</p>
			{{/posts}}

			<br>
			
			<div class="col-lg-12">
				<div class="main-button">
					<a href="/post/new">Nueva publicación</a>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="secondary-button">
					<a href="/home">Volver al inicio</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{> Common/bottom_container }}
{{> Common/footer }}