{{>Common/header}}
{{>Common/top_container}}

{{#isEditing}}
<h2>Edit post</h2>
<!-- Form to edit a post-->
<form action="/post/{{post.id}}/edit" method="post" enctype="multipart/form-data">
{{/isEditing}}
{{^isEditing}}
<h2>Create post</h2>
<!-- Form to create a new post-->
<form action="/post/new" method="post" enctype="multipart/form-data">
  {{/isEditing}}

  <div class="form-group">
    <label for="title">Título:</label>
    <input type="text" class="form-control" id="title" name="title" value="{{#isEditing}}{{title}}{{/isEditing}}"
      required />
  </div>

  <div class="form-group">
    <label for="content">Contenido:</label>
    <textarea class="form-control" id="content" name="content" rows="10"
      required>{{#isEditing}}{{content}}{{/isEditing}}</textarea>
  </div>

  <div class="form-group">
    <label for="contributors">Colaboradores:</label>
    <br />
    <em>Nota: Escriba el nombre de usuario de los colaboradores
      separados por comas</em>
    <input type="text" class="form-control" id="contributors" name="contributors" value="{{#isEditing}}{{contributors}}{{/isEditing}}" />
  </div>

  <!-- <div class="form-group">
    <form onsubmit="event.preventDefault();" role="search">
      <label for="search">Search for stuff</label>
      <input id="search" type="search" placeholder="Search..." autofocus required />
      <button type="submit">Go</button>    
    </form>
  </div> -->

  <div class="form-group">
    <label for="postImage">Imagen para la carátula:</label>
    <input type="file" class="form-control file-input-small" id="postImage" name="postImage" />
  </div>

  <p class="checkbox-select">Selecciona categorías</p>

  <div class="form-group">

    <div class="options-container" id="optionsContainer">

      {{#sections}}
      <div class="option">
        <label><input type="checkbox" value="{{id}}" name="sections" {{#selected}} checked {{/selected}} />{{title}}</label>
      </div>
      {{/sections}}

    </div>

  </div>

  <br>
  <button type="submit" class="btn btn-primary">
    Publicar
  </button>

</form>
{{>Common/bottom_container}}
{{>Common/footer}}