{{>Common/header}}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/user/{{id}}/image" alt="" class="profile-image">
                </div>

                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">

                    {{#ShowButtons}}
                    <div class="col-lg-12">
                      <div class="main-button">
                        <a href="/editProfile/{{id}}">Editar</a>
                      </div>
                    </div>
                    {{/ShowButtons}}
                    {{#notSameUser}}
                    <div class="col-lg-12">
                      {{#followed}}
                      <div class="delete-button">
                        <a href="/user/{{id}}/unfollow">Dejar de seguir</a>
                      </div>
                      {{/followed}}
                      {{^followed}}
                      <div class="main-button">
                        <a href="/user/{{id}}/follow">Seguir</a>
                      </div>
                      {{/followed}}
                    </div>

                    {{/notSameUser}}

                    {{#user.cvFilePath}}
                    <a href="/users/{{user.id}}/download-cv">Descarga el CV del usuario</a>
                    {{/user.cvFilePath}}

                    {{^user.cvFilePath}}
                    <p>El usuario todavía no ha subido su CV</p>
                    {{/user.cvFilePath}}
                    {{#ShowButtons}}


                    <div class="col-lg-12">
                      <div class="delete-button">
                        <form action="/deleteUser/{{id}}" method="post">

                          <input type='submit' value='Eliminar usuario'  style="
                          background-color: #eb5a9e;
                          color: white;
                          border: none;
                          padding: 10px 18px;
                          border-radius: 20px;
                          cursor: pointer;
                          font-size: 16px;
                          font-weight: 400;
                          "/>
                          <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                      </div>
                    </div>
                    {{/ShowButtons}}
                    <h4>{{user.userName}}</h4>
                    <p>{{#user.description}}{{user.description}}{{/user.description}} {{^user.description}}No hay
                      descripción{{/user.description}}</p>
                      {{#ShowButtons}}
                    <div class="main-border-button">
                      <a href="/post">Nueva publicación</a>
                    </div>
                    {{/ShowButtons}}
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <ul>
                    <li>Número de publicaciones <span>{{numberOfPublications}}</span></li>
                    <li> <a href="/user/{{id}}/followings">Seguidores</a><span>{{numberOfFollowers}}</span></li>
                    <li> <a href="/user/{{id}}/followed">Siguiendo</a><span>{{numberOfFollowing}}</span></li>
                    <li>Temas seguidos <span>{{numberOfFollowedSections}}</span></li>
                    <li>Valoración de usuario <span>{{user.userRate}}</span></li>
                  </ul>
                </div>
                {{^notSameUser}}
                <style>
                  input[type="file"] {
                    color: white;
                  }
                </style>
                {{#ShowButtons}}
                {{#user.cvFilePath}}
                <div class="col-lg-4 align-self-center">

                  <form action="/users/{{user.id}}/delete-cv" method="post" >
                    <label for="file">
                      <h2>Borra tu cv</h2>
                    </label>
                    <button type="submit">Eliminar</button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                  </form>
                </div>
                {{/user.cvFilePath}}

                {{^user.cvFilePath}}
                <div class="col-lg-4 align-self-center">
                
                  <form action="/users/{{user.id}}/upload-cv" method="post" enctype="multipart/form-data">
                    <label for="file">
                      <h2>Sube tu cv</h2>
                    </label>
                    <input type="file" id="file" name="file" required>
                    <button type="submit">Subir</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                  </form>
                
                </div>
                {{/user.cvFilePath}}
                {{/ShowButtons}}
                {{/notSameUser}}
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                          <h4><em>Tus publicaciones</em></h4>
                        </div>
                      </div>
                      {{#user.posts}}
                      <div class="col-lg-3 col-sm-6">
                        <div class="item">
                          <div class="thumb">
                            <img class="centered-image" src="/post/{{id}}/image" alt="" >
                          </div>
                          <div class="down-content">
                            <ul>
                              <li>
                                <h6> <a href="/post/{{id}}">{{title}}</a></h6>
                              </li>
                            </ul>
                            <span><i class="fa fa-star" style="color: yellow;"></i>{{averageRating}}</span>
                          </div>
                        </div>
                      </div>
                      {{/user.posts}}
                    </div>
                  </div>
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                          <h4><em>Publicaciones en la que ha colaborado</em></h4>
                        </div>
                      </div>
                      {{#user.collaboratedPosts}}
                      <div class="col-lg-3 col-sm-6">
                        <div class="item">
                          <div class="thumb">
                            <img class="centered-image" src="/post/{{id}}/image" alt="" >
                          </div>
                          <div class="down-content">
                            <ul>
                              <li>
                                <h6> <a href="/post/{{id}}">{{title}}</a></h6>
                              </li>
                              <li>
                                <span><i class="fa fa-star" style="color: yellow;"></i>{{averageRating}}</span>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                      {{/user.collaboratedPosts}}
                      {{^user.collaboratedPosts}}
                      <h5>Todavía no ha colaborado en ningún post</h5><br><br>
                      {{/user.collaboratedPosts}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{{>Common/footer}}