{{>Common/header}}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <h1>Descubre las secciones</h1>
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Todas las</em> Secciones</h4>
            </div>
          </div>
          {{#sections}}
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <div class="thumb">
                  <img src="{{sectionImage}}" alt="">
                  <div class="hover-effect">
                    <div class="content">
                      <ul>
                        <li>{{description}}</a></li>
                        <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="down-content">
                  <h4>{{title}}</h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12">
              <div class="main-button">
                <a href="/create_section">Añade una nueva sección</a>
              </div>
            </div>

          </div>
          {{/sections}}
        </div>
      </div>
    </div>
  </div>
</div>

{{>Common/footer}}