{{>Common/header}}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <h1>Descubre las secciones</h1>
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Todas las</em> Secciones</h4>
            </div>
          </div>
          <div class="row">

            {{#sections}}
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="item">
                <div class="thumb">
                  <img src="assets/images/popular-08.jpg" alt="">
                  <div class="hover-effect">
                    <ul>
                      <li>
                        <a href="/section/{{id}}">Ver sección</a>
                      </li>
                      <li>
                        <a>
                          <form action="/section/{{id}}/delete" method="post" style="display:inline;">
                            <button type="submit"
                              style="background-color: palevioletred; color: palevioletred; border: none; color: white">Borrar
                              sección</button>
                          </form>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="down-content">
                  <h4 style="text-align: center;">{{title}}</h4>
                  <p style="text-align: center;">{{description}}</p>
                </div>
              </div>
            </div>
            {{/sections}}

            <div class="col-lg-12">
              <div class="main-button">
                <a href="/section/new">Añadir sección</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>Common/footer}}