{{>Common/header}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content header-text">
                {{#byPost}}<h2>Usuario {{name}} eliminado correctamente</h2> <br>{{/byPost}}
                {{^byPost}}<h2>Para borrar un usuario, debe ser el administrador y acceder a su perfil y darle a borrar</h2> <br>{{/byPost}}
                <a href="/home" class="logo">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>
{{>Common/footer}}